---
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  CardFooter,
} from "@/components/ui/card";
import LinkBtn from "@/components/atoms/LinkBtn.astro";
const { name, description, href, ctext, clink, tools, langs, date } =
  Astro.props;
---

<Card
  className="rounded-xl bg-white/30 dark:bg-gray-800/30 border-none shadow-xl mx-2 md:mx-12 fade"
>
  <CardHeader>
    <CardTitle className="text-gray-800 dark:text-gray-100">{name}</CardTitle>
  </CardHeader>
  <CardContent>
    <p class="text-gray-800 dark:text-gray-300">
      {description}
    </p>
    <p class="text-sm pt-2 text-gray-700 dark:text-gray-400">
      {date}
    </p>
    <br />
    <div class="flex gap-2">
      {
        langs
          .split(",")
          .map((lang: string, index: number) => (
            <Image
              src={`https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/${lang}.svg`}
              width="44"
              height="44"
              alt="Project Skills"
              class="skills-icons"
            />
          ))
      }
    </div>
    <br />
    <div class="flex gap-2">
      {
        tools &&
          tools
            .split(",")
            .map((tool: string, index: number) => (
              <Image
                src={`https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/${tool}.svg`}
                width="44"
                height="44"
                alt="Project Skills"
                class="skills-icons shadow-lg"
              />
            ))
      }
    </div>

    {/* Aquí se detecta si href contiene un archivo de video o audio */}
    {href && href.endsWith('.mp4') ? (
      <video controls class="w-full max-w-md mt-4 mx-auto border-2 border-gray-300 rounded-lg shadow-md hover:shadow-lg transition-all">
        <source src={href} type="video/mp4" />
        Tu navegador no soporta el elemento de video.
      </video>
    ) : null}

    {href && href.endsWith('.mp3') ? (
      <audio controls class="w-full max-w-md mt-4 mx-auto transition-all">
        <source src={href} type="audio/mp3" />
        Tu navegador no soporta el elemento de audio.
      </audio>
    ) : null}
  </CardContent>
  <CardFooter>
    {/* Botón de enlace solo si no es un video o audio */}
    {!(href && (href.endsWith('.mp4') || href.endsWith('.mp3'))) && (
      <LinkBtn
        className="ml-[-10px] text-black dark:text-white"
        text="View on Behance"
        href={"https://www.behance.net/gallery/212727659/Mobile-Videogame-for-a-Coffee-Store"}
        size="base"
        target="_blank"
      />
    )}

    {ctext && (
      <LinkBtn
        text={ctext}
        href={clink}
        size="base"
        target="_blank"
        className="text-black dark:text-white"
      />
    )}
  </CardFooter>
</Card>
